@import url("../../../styles.scss");

section{
    background-color: #120b35;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 140px;
    padding-left: 140px;
    height: 92px;
    background: linear-gradient(
        to bottom,
        rgba(18, 11, 53, 1) 0%,
        rgba(18, 11, 53, 1) 50%,
        rgba(18, 11, 53, 0.6) 100%
    );
    .nav-and-logo{
        display: flex;
        align-items: center;
        .logo{
            font-size: 48px;
            &:hover{
                color: #E15544;
            }
        }
        >nav{
            display: flex;
            justify-content: space-evenly;
            width: 800px;
            font-size: 22px;
        }
        a{
            color: #E15544;
            text-decoration: none;
            &:hover{
                color: #02F4BF;
            }
        }
    }
    
    .switch-btn{
        width: 64px;
        display: flex;
        justify-content: space-between;
        
        button{
            background-color: #120b35;
            color: #E15544;
            cursor: pointer;
            border: none;
            &:hover{
                color: #02F4BF;
            }
        }
        p{
            color: #E15544;
        }
    }
}