@import url("../../../styles.scss");

section{
    background-color: #120b35;
}
.my-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 108px;
    margin-right: 108px;
    margin-bottom: 92px;
    h3{
        font-size: 54px;
        color: #E15544;
        margin-bottom: 36px;
    }
}