<footer>
    <div class="footer content">
        <div class="footer-content">
            <div class="logo-titel-footer">
                <p class="fontHandjet logo">&lt;RBB&gt;</p>
                <p id="titel">frontend developer</p>
            </div>
            <p>© Robin Bautista Buschmann 2025</p>
            <div class="icons">
                <a class="icon-git" href="https://github.com/Ch1charito" target="_blank"></a>
                <a class="icon-email" href="mailto:r.bautistabuschmann@yahoo.de"></a>
                <a class="icon-linkedin" href="https://github.com/Ch1charito" target="_blank"></a>
            </div>
        </div>
        <div class="policy">
            <a [routerLink]="['/impressum']">{{'footer.legal' | translate }}</a>
            <a [routerLink]="['/privacy-policy']">{{'footer.policy' | translate }}</a>
        </div>
    </div>
</footer>
