<footer>
    <div class="footer content">
        <div class="footer-content">
            <div class="logo-titel-footer">
                <p class="fontHandjet logo">&lt;RBB&gt;</p>
                <p id="titel">frontend developer</p>
            </div>
            <p>© Robin Bautista Buschmann 2025</p>
            <div class="icons">
                <img src="/assets/images/footer/git_default.png" alt="">
                <img src="/assets/images/footer/email_default.png" alt="">
                <img src="/assets/images/footer/linkedin_default.png" alt="">
            </div>
        </div>
        <div class="policy">
            <a href="">{{'footer.legal' | translate }}</a>
            <a href="">{{'footer.policy' | translate }}</a>
        </div>
    </div>
</footer>
