@import url("../../../styles.scss");

footer{
    background-color: #120b35;
}
.footer{
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E15544;
    margin-left: 80px;
    margin-right: 80px;
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        p{
            font-size: 28px;
        }
        
        .icons{
            width: 150px;
            display: flex;
            justify-content: space-between;
            img{
                height: 30px;
                width: 30px;
            }
        }
        
        .logo-titel-footer{
            text-align: center;
            .logo{
                font-size: 54px;
            }
            #titel{
                font-size: 12px;
            }
        }
        
    }
    
    .policy{
        display: flex;
        justify-content: space-between;
        width: 280px;
        a{
            text-decoration: none;
            font-size: 16px;
            color: #E15544;
            &:hover{
                color: #02F4BF;
            }
        }
    }
}