@import url("../../../styles.scss");

footer{
    background-color: #120b35;
}
.footer{
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E15544;
    margin-left: 108px;
    margin-right: 108px;
    @media (max-width: 880px){
        margin-left: 50px;
        margin-right: 50px;
    }
    @media (max-width: 374px){
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (max-width: 817px){
            flex-direction: column;
        }
        p{
            font-size: 28px;
            @media (max-width: 1064px){
                font-size: 16px;
            }
            @media (max-width: 817px){
                font-size: 14px;
            }
        }
        .icons{
            width: 150px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 817px){
                display: none;
            }
            .icon-git{
                width: 30px;
                height: 30px;
                background: url('../../../../public/assets/images/footer/git_default.png') no-repeat center;
                background-size: contain;
            }
            .icon-git:hover{
                width: 30px;
                height: 30px;
                background: url('../../../../public/assets/images/footer/git_hover.png') no-repeat center;
                background-size: contain;
            }
            .icon-email{
                width: 30px;
                height: 30px;
                background: url('../../../../public/assets/images/footer/email_default.png') no-repeat center;
                background-size: contain;
            }
            .icon-email:hover{
                width: 30px;
                height: 30px;
                background: url('../../../../public/assets/images/footer/email_hover.png') no-repeat center;
                background-size: contain;
            }
            .icon-linkedin{
                width: 30px;
                height: 30px;
                background: url('../../../../public/assets/images//footer/linkedin_default.png') no-repeat center;
                background-size: contain;
            }
            .icon-linkedin:hover{
                width: 30px;
                height: 30px;
                background: url('../../../../public/assets/images/footer/linkedin_hover.png') no-repeat center;
                background-size: contain;
            }
        }
        
        .logo-titel-footer{
            text-align: center;
            .logo{
                font-size: 54px;
                @media (max-width: 817px){
                    font-size: 48px;
                }
            }
            #titel{
                font-size: 12px;
                @media (max-width: 817px){
                    display: none;
                }
            }
        }
        
    }
    
    .policy{
        display: flex;
        justify-content: space-between;
        width: 320px;
        @media (max-width: 817px){
            flex-direction: column;
            align-items: center;
            margin-top: 32px;
            width: 200px;
        }
        a{
            text-decoration: none;
            font-size: 16px;
            color: #E15544;
            &:hover{
                color: #02F4BF;
            }
            @media (max-width: 817px){
                font-size: 14px;
            }
        }
    }
}