section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    img{
        height: 80%;
        width: 40%;
    }
    .atf-content{
        width: 60%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .atf-heading{
            color: #02F4BF;
            h1{
                font-size: 5rem;
            }
            h2{
                font-size: 4rem;
            }
        }
        .atf-btn{
            height: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 64px;
            margin-left: 64px;
            img{
                height: 75px;
                width: 40px;
                margin-top: 300px;
            }
            .btn-rotate{
                transform: rotate(-90deg);
                
            }
        }
    }
}