<section id="atf-section">
    <div class="atf content">
        <div class="atf-content">
            <div class="atf-btn">
                <a class="btn-rotate" href="#contact-section">{{'atf.btn' | translate }}</a>
                <a class="btn-arrow" href="#contact-section"><img src="/assets/images/why_me/arrow_down_default.png" alt=""></a>

            </div>
            <div class="atf-heading">
                <h2>FRONTEND DEVELOPER</h2>
                <h1>Robin Bautista Buschmann</h1>
            </div>
        </div>
        <img src="/assets/images/hero_section/banana.jpg" alt="Bild von Mir">
    </div>
</section>
