section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    img{
        height: 80%;
        width: 40%;
    }
    .atf-content{
        width: 60%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .atf-heading{
            color: #02F4BF;
            h1{
                font-size: 5rem;
            }
            h2{
                font-size: 4rem;
            }
        }
        .atf-btn{
            height: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 180px;
            margin-left: -58px;
            img{
                height: 70px;
                width: 30px;
                margin-top: 300px;
            }
            .btn-rotate{
                transform: rotate(-90deg);
                color: #E15544;
                text-decoration: none;
                border: 1.5px solid #02F4BF;
                height: 50px;
                width: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: color 0.6s ease;
                &:hover{
                    color: #02F4BF;
                }
            }
        }
    }
}