<section>
    <div class="why-me content">
        <img src="/assets/images/hero_section/banana.jpg" alt="">
        <div class="why-me-content">
            <h3>Why me</h3>
            <div>Write some information about yourself that is IT related. Why are you passionate about coding? Highlight your motivation for professional growth and continuous learning. Emphasise your strong problem-solving skills and passion for coding.
            </div>
            <div class="i-am-container">
                <div class="container-row">
                    <h4 id="i-am">I am</h4>
                    <img class="why-me-icon" src="/assets/images/why_me/icons/vector.png" alt="">
                    <div class="text-position">
                        <p>located</p><p>in Munich</p>
                    </div>
                </div>
                <div class="container-row">
                    <img id="arrow-one" class="arrow" src="/assets/images/why_me/arrow_one.png" alt="">
                    <img id="suitcase" class="why-me-icon" src="/assets/images/why_me/icons/suitcase.png" alt="">
                    <div class="text-position">
                        <p>open to</p><p>relocate</p>
                    </div>
                </div>
                <div class="container-row">
                    <img id="remote" class="why-me-icon" src="/assets/images/why_me/icons/remote.png" alt="">
                    <div class="text-position">
                        <p>open to</p><p>work remote</p>
                    </div>
                    <img class="arrow" src="/assets/images/why_me/arrow_two.png" alt="">
                    <img id="arrow-three" class="arrow" src="/assets/images/why_me/arrow_three.png" alt="">
                </div>
            </div>
            <a href="">Let's talk</a>
        </div>
    </div>
</section>

