<section id="why-me-section">
    <div class="why-me content">
        <img id="img-big" src="assets/images/hero_section/bild2.jpg" alt="">
        <div class="why-me-content">
            <h3>{{'why-me.h3' | translate }}</h3>
            <div>{{'why-me.text' | translate }}
            </div>
            <div class="i-am-container">
                <img class="arrow-responsive" src="assets/images/why_me/arrow_one.png" alt="">
                <h4 id="i-am-resp">{{'why-me.h4' | translate }}</h4>
                <div class="container-row">
                    <h4 id="i-am">{{'why-me.h4' | translate }}</h4>
                    <div class="why-me-icon"></div>
                    <div class="text-position">
                        <p>{{'why-me.located' | translate }}</p><p>{{'why-me.in' | translate }}</p>
                    </div>
                </div>
                <div class="container-row">
                    <img id="arrow-one" class="arrow" src="assets/images/why_me/arrow_one.png" alt="">
                    <div id="suitcase"></div>
                    <div class="text-position">
                        <p>{{'why-me.open' | translate }}</p><p>{{'why-me.relocate' | translate }}</p>
                    </div>
                </div>
                <div class="container-row">
                    <div id="remote"></div>
                    <div class="text-position">
                        <p>{{'why-me.open' | translate }}</p><p>{{'why-me.remote' | translate }}</p>
                    </div>
                    <img class="arrow" src="assets/images/why_me/arrow_two.png" alt="">
                    <img id="arrow-three" class="arrow" src="assets/images/why_me/arrow_three.png" alt="">
                </div>
                <img id="arrow-resp-two" class="arrow-responsive" src="assets/images/why_me/arrow_one.png" alt="">
            </div>
            <a href="#contact-section">{{'why-me.talk' | translate }}</a>
        </div>
    </div>
</section>

