@import url("../../../styles.scss");

section{
    _background-color: #120b35;
    background: linear-gradient(to top, #120b35 0%, #1f0a7e 50%, #120b35 100%);
    
}
.my-skills{
    margin-left: 108px;
    margin-right: 108px;
    height: 412px;
    width: 100%;
    margin-bottom: 92px;
    h3{
        font-size: 54px;
        color: #E15544;
        margin-bottom: 36px;
    }
    div{
        height: 325px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(187px, 1fr));
        gap: 80px;
        align-items: center;
    }
    
}