@import url("../../styles.scss");

section{
    background-color: #120b35;
    min-height: 100dvh;
    color: #02F4BF;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin: 8px;
    }
    h1{
        font-size: 54px;
        color: #E15544;
    }
    a{
        color: #E15544;
    }
    .link{
        margin-top: 32px;
        margin-bottom: 32px;
    }
}
#generator_results_content{
    padding: 108px;
    a{
        font-size: 12px;    
        overflow-wrap: anywhere;      
        white-space: normal;
    }
    @media(max-width: 740px){
        padding: 50px;
        font-size: 12px;
        h1{
            font-size: 20px;
            padding-top: 20px;
        }
        h2{
            font-size: 16px;
        }
        }
}