@import url("../../../styles.scss");

section{
    background-color: #120b35;
}
.contact-form{
    margin-left: 108px;
    margin-right: 108px;
    margin-bottom: 92px;
    @media (max-width: 880px){
        margin-left: 50px;
        margin-right: 50px;
    }
    @media (max-width: 374px){
        margin-left: 20px;
        margin-right: 20px;
    }
    h3{
        font-size: 54px;
        color: #E15544;
        @media (max-width: 817px){
                font-size: 32px;
                text-align: center;
            }
    }
    color: #02F4BF;
    font-size: 18px;
    .h3-arrow{
        display: flex;
        align-items: center;
        @media (max-width: 817px){
            justify-content: center;
        }
        img{
            width: 140px;
            height: 140px;
            transform: scaleY(-1) rotate(50deg);
            @media (max-width: 817px){
                display: none;
            }
        }
    }
    .mail-phone-arrow{
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        @media (max-width: 817px){
            text-align: center;
            
        }
        .arrow-up{
            background: url('../../../../public/assets/images/why_me/arrow_up_default.png');
            width: 50px;
            height: 70px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            flex-shrink: 0;
            @media (max-width: 817px){
                display: none;
            }
        }
        .arrow-up:hover{
            background: url('../../../../public/assets/images/why_me/arrow_up_hover.png');
            width: 65px;
            height: 70px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        .mail-phone{
            display: flex;
            p{
                width: 32%;
                margin-right: 8px;
                @media (max-width: 817px){
                font-size: 16px;
                width: 100%;
                margin-right: 0;
                }
            }
            .links{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                @media (max-width: 817px){
                    display: none;
                }
                
                a{
                    text-decoration: none;
                    color: #02F4BF;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    .link-email{
                        margin-right: 8px;
                        width: 30px;
                        height: 30px;
                        background: url('../../../../public/assets/images/footer/email_default.png') no-repeat center;
                        background-size: contain;
                    }
                    .link-email:hover{
                        margin-right: 8px;
                        width: 30px;
                        height: 30px;
                        background: url('../../../../public/assets/images/footer/email_hover.png') no-repeat center;
                        background-size: contain;
                    }
                    .link-phone{
                        margin-right: 8px;
                        width: 30px;
                        height: 30px;
                        background: url('../../../../public/assets/images//footer/phone_default.png') no-repeat center;
                        background-size: contain;
                    }
                    .link-phone:hover{
                        margin-right: 8px;
                        width: 30px;
                        height: 30px;
                        background: url('../../../../public/assets/images/footer/phone_hover.png') no-repeat center;
                        background-size: contain;
                    }
                    
                }
            }
        }
    }
    .input-info{
        display: flex;
        justify-content: space-between;
        @media (max-width: 817px){
            flex-direction: column;
        }
        
        .name-email{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 29%;
            height: 144px;
            @media (max-width: 817px){
                width: 100%;
            }
        }
        .text{
            width: 68%;
            @media (max-width: 817px){
                width: 100%;
                margin-top: 32px;
            }
            textarea{
                width: 100%;
            }
        }
    }
}
.d-none{
    display: none;
}

.form-input{
    background: none;
    height: 56px;
    border: solid 1px #02F4BF;
    font-size: 18px;
    color: #02F4BF;
    padding-left: 10px;
    &.ng-valid.ng-touched {
        border-color: green;
        border-width: 2px;
    }
    &.ng-invalid.ng-touched {
        border-color: red;
        border-width: 3px;
    }
}
.form-input::placeholder {
    color: #02F4BF;
}
.form-text{
    background: none;
    height: 144px;
    border: solid 1px #02F4BF;
    font-size: 18px;
    color: #02F4BF;
    padding-left: 10px;
    padding-top: 10px;
    &.ng-valid.ng-touched {
        border-color: green;
        border-width: 2px;
    }
    &.ng-invalid.ng-touched {
        border-color: red;
        border-width: 3px;
    }
}
.form-text::placeholder{
    color: #02F4BF;
}
.checkbox-label{
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    .checkbox-input{
        width: 18px;
        height: 18px;
        margin-right: 8px;
        background: transparent;
        -webkit-appearance: none;
        appearance: none;
        border: 2px solid #E15544;
        position: relative;
    }
    .checkbox-input:hover {
        background: #02F4BF;
        cursor: pointer;
    }
    .checkbox-input:checked {
        background-color: #02F4BF;
        border-color: #E15544;
    }
    .checkbox-input:checked::after {
        content: '';
        position: absolute;
        left: 3px;
        top: 0px;
        width: 5px;
        height: 10px;
        border: solid #E15544;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    @media (max-width: 817px){
        font-size: 12px;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #E15544;
        margin-right: 8px;
        margin-left: 8px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
.send-btn{
    display: flex;
    justify-content: end;
    @media (max-width: 817px){
        justify-content: center;
    }
    .send{
        background: none;
        color: #E15544;
        border: solid 1px #E15544;
        width: 100px;
        height: 50px;
        cursor: pointer;
        &:hover{
            color: #02F4BF;
            border: solid 1px #02F4BF;
        }
        &:disabled {
            cursor: default;          
            opacity: 0.5;             
            color: #aaa;              
            border-color: #aaa;

        &:hover {
            color: #aaa;            
            border-color: #aaa;
        }
        }
        &.success {
            background-color: #28a745; 
            color: white;
            border-color: #28a745;
            transition: background-color 0.3s ease;
        }
    }
}
.arrow-resp{
    display: none;
    margin-top: 8px;
    width: 40px;
    height: 60px;
    background: url('/assets/images/why_me/arrow_up_default.png') no-repeat center;
    background-size: contain;
    @media (max-width: 817px){
        display: flex;
        justify-content: end;
        margin-left: auto;
    }
}
.arrow-resp:hover{
    background: url('../../../../public/assets/images/why_me/arrow_up_hover.png');
    width: 40px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.links-resp{
    display: none;
    @media (max-width: 817px){
        display: flex;
        flex-direction: column;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: #02F4BF;
            font-size: 14px;
            margin-top: 16px;
            img{
                height: 30px;
                width: 30px;
            }
        }
    }
}

.icons-resp{
    display: none;
    justify-content: space-evenly;
    margin-top: 40px;
    @media (max-width: 817px){
        display: flex;
    }
    .icon-git{
        width: 30px;
        height: 30px;
        background: url('../../../../public/assets/images/footer/git_default.png') no-repeat center;
        background-size: contain;
    }
    .icon-git:hover{
        width: 30px;
        height: 30px;
        background: url('../../../../public/assets/images/footer/git_hover.png') no-repeat center;
        background-size: contain;
    }
    .icon-email{
        width: 30px;
        height: 30px;
        background: url('../../../../public/assets/images/footer/email_default.png') no-repeat center;
        background-size: contain;
    }
    .icon-email:hover{
        width: 30px;
        height: 30px;
        background: url('../../../../public/assets/images/footer/email_hover.png') no-repeat center;
        background-size: contain;
    }
    .icon-linkedin{
        width: 30px;
        height: 30px;
        background: url('../../../../public/assets/images//footer/linkedin_default.png') no-repeat center;
        background-size: contain;
    }
    .icon-linkedin:hover{
        width: 30px;
        height: 30px;
        background: url('../../../../public/assets/images/footer/linkedin_hover.png') no-repeat center;
        background-size: contain;
    }
    
}